<h1>Merchant Discount Show Page</h1>

<div class="bulk-discount-show">
  <ul>
    <li> <h2>Discount ID: <%= @bulk_discount.id %></h2></li>
        <li>Discount: <%= @bulk_discount.discount %></li>
        <li>Quantity Threshold: <%= @bulk_discount.quantity_threshold %></li>
  </ul>
</div>
